.tj-tab{
    text-align: center;
    height: .4rem;
    line-height: .4rem;
    font-size: .18rem;
    color: #999999!important;
    border-bottom: .01rem solid #f0f0f0;
    padding: 0 .16rem;
    background-color: #ffffff;
    overflow-x: hidden;
    position: relative;
}

.tj-tab a{
    color: #999999!important;
}
.tj-tab .tab.active a{
    color: #333333!important;
}


.tj-tab .tab{
    height: .39rem;
}

.tj-tab .tab.active{
    border-bottom: .02rem solid #d43b33;
    color: #333333!important;
}

.index-container{
    padding: 0 15px;
}

.index-data .data-list{
    padding-bottom: .14rem;
    border-bottom: .006rem solid #f0f0f0;
}

.index-data .data-list:nth-last-child(1){
    border-bottom: none;
}

.index-data .title{
    padding: .12rem 0;
}

.index-data .title a:hover,.index-data .title a:active{
    color: #333333;
}

.index-data .pic{
    width: .364rem;height: .364rem;
}

.index-data .pic .head-img{
    width: .364rem;height: .364rem;
}

.index-data .poster{
    width: 50%;
    overflow: hidden;
    margin-left: .12rem;
    height: .364rem;
}

.index-data .poster .poster-name{
    font-size: .16rem;
    line-height: .20rem;
    color: #666666;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.index-data .poster .poster-name a{
    color: #666666;
}


.index-data .poster .posting-time{
    font-size: .14rem;
    line-height: .18rem;
    color: #999999;
}

.index-data .right-btn .index-gz-btn{
    width: .625rem;
    height: .26rem;
    color: #ffffff;
    background: #d43b33;
    border-radius: .18rem;
    font-size: .16rem;
    line-height: .26rem;
}

.index-data .right-btn .index-gz-btn.active{
    background: #cbcbcb;
}
.index-data .right-btn .index-gz-btn.active::before{
    content: "已";
}

.index-data .right-btn .index-gz-btn.active:before{
    content: "已";
}


.index-data .words{
    font-size: .17rem;
}

.index-data .video-box{
    position: relative;
    background: url("https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=212297457,1410173076&fm=200&gp=0.jpg") no-repeat center;
    background-size: 100%;
    border-radius: .05rem;
    margin-top: .06rem;
}

.video-box .num{
    position: absolute;
    bottom: .148rem;
    width: 100%;
    font-size: .118rem;
    color: #ffffff;
    padding: 0 .148rem;
    line-height: .118rem;
}
.video-box .num .point-left-icon{
    height: .118rem;
    width: .116rem;
    margin-right: .06rem;
}

.video-box .num span{
    display: inline-block;
    line-height: .118rem;
    padding-top: .004rem;
}

.video-box .pop{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../../assets/img/index/bofang.png") no-repeat center;
    background-size: .68rem;
}

.index-data .bottom-icon-group .icon{
    height: .193rem;
    width: .182rem;
    margin-right: .05rem;
    /*float: left;*/
}
.index-data .bottom-icon-group{
    padding-top: .14rem;
    /*padding: .193rem 0;*/
    line-height: .114rem;
}

.index-data .bottom-icon-group .group-li{
    width: .625rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: .04rem;
    font-size: .114rem;
    color: #999999;
}

.index-data .bottom-icon-group .group-li.last{
    padding-top: .039rem;
    padding-right: 0;
    text-align: right;
    width: auto;
    line-height: .193rem;
}

.index-data .bottom-icon-group .group-li.last .ck-icon{
    width: .185rem;
    /*float: left;*/
    height: .114rem;
    margin-top: .03rem;
}

.index-data .bottom-icon-group .group-li.last .index-close-icon{
    width: .114rem;
    height: .114rem;
    margin-left: .1rem;
    margin-top: .03rem;
}

.index-data .left-content{
    padding-right: .1136rem;
}
.index-data .left-content .words{
    font-size: .17rem;
    height: .48rem;
    overflow: hidden;
}

/*.index-data .left-content .bottom-icon-group{*/
    /*padding: 0;*/
/*}*/

.nav-video .bg-img img{
    width: 100%;
}
.video-title-box{
    padding: 0 15px;
    border-bottom: .006rem solid #f0f0f0;
}


.video-title-box .title{
    font-size: .159rem;
    line-height: .24rem;
    color: #333333;
    padding-top: .06rem;
}

.video-title-box .title .show-more-icon{
    width: .1625rem;
    height: .24rem;
}
.video-btn-box{
    padding-top: .04rem;
    padding-bottom: .12rem;
}
.video-btn-box .pull-left{
    margin-right: .1625rem;
}

.video-btn-box div.pull-left{
    height: .15rem;
    line-height: .15rem;
    font-size: .1136rem;
    color: #999;
    margin-top: .04rem;
}

.video-btn-box div.pull-left .icon{
    width: .125rem;
    height: .14rem;
    margin-right: .034rem;
}

.video-icon-box div.pull-left label{
    margin-top: .05rem;
    line-height: .14rem;
}

.video-btn-box .pull-right .icon{
    height: .18rem;
    width: .193rem;
    margin-right: 0;
    margin-left: .36rem;
}
.video-btn-box .pull-right .icon:nth-child(1){
    margin-left: 0;
}

.video-introduce{
    font-size: .125rem;
    color: #666666;
    line-height: .2rem;
    height: .2rem;
    overflow: hidden;
}

.video-introduce.active{
    height: auto;
}

.video-icon-box{
    margin-top: .1rem;
    padding-bottom: .1rem;
    color: #999999;
}
.video-icon-box .icon{
    height: .18rem;
    width: .193rem;
    margin-right: .034rem;
}
.video-box.pull-right .num{
    position: absolute;
    bottom: .068rem;
    padding: 0 .068rem;
}

.video-box.pull-right .pop{
    background: url("../../assets/img/index/bofang.png") no-repeat center;
    background-size: .261rem;
}

.words .word-title{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.words .word-contet{
    height: .6rem;
    overflow: hidden;
    line-height: .2rem;
    color: #666;
    margin-top: .04rem;
    font-size: .16rem;
}
.pic-box .article-pic{
    max-height: .8rem;
    overflow: hidden;
    width: 32%;
    margin-right: 2%;
    margin-top: .044rem;
    border-radius: .028rem;
}
.pic-box .article-pic:nth-last-child(1){
    margin-right: 0;
}

.pic-box .article-pic .pic{
    width: 100%;
    height: .9rem;
    border-radius: .028rem;
}
.big-video{
    height: 2rem;
}

.small-video{
    height: .8rem;
}

.video-box .v-pic{
    width: 100%;
    border-radius: .0284rem;
}

.num .ck-white-icon{
    width: .185rem;
    height: .12rem;
    margin-right: .01rem;
}

/*评论详细*/
.nav-pl-top{
    position: fixed;
    width: 100%;
    top: 0;
    height: .5rem;
    line-height: .5rem;
    font-size: .136rem;
    color: #333;
    background-color: #ffffff;
    z-index: 10;
    border-bottom: .006rem solid #dfdfdf;
    text-align: center;
}

.nav-pl-top .icon{
    height: .5rem;
    width: .136rem;
    position: absolute;
    left: .17rem;
    top:0;
}
.pl-second-list{
    padding: 0 .17rem;
}

.pl-second-list .hits{
    height: .4rem;
    line-height: .4rem;
    font-size: .136rem;
    color: #6c8dd5;
    text-align: right;
    border-bottom: .006rem solid #dfdfdf;
}

.pl-second-list .hits .icon{
    height: .136rem;
    width: .136rem;
    margin-right: .045rem;
}

.pl-second-list .data{
    padding: .136rem 0;
    position: relative;
}

.pl-second-list .head-pic{
    position: absolute;
    width: .3rem;
}

.pl-second-list .head-pic .pic{
    width: .3rem;
    height: .3rem;
    border-radius: 50%;
}

.pl-second-list .pl{
    margin-left: .42rem;
    border-bottom: .006rem solid #dfdfdf;
}

.pl-second-list .cz .name{
    color: #6c8dd5;
    display: inline-block;
    max-width: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pl-second-list .cz .name a{
    color: #6c8dd5;

}

.pl-second-list .quanwei{
    /*margin-top: .04rem;*/
}

.pl-second-list .cz .time{
    font-size: .114rem;
    line-height: .114rem;
    color: #999999;
}


.pl-second-list .btn-group{
    margin-top: .05rem;
    color: #999999;
}

.pl-second-list .btn-group label{
    margin-top: .05rem;
    line-height: .14rem;
    margin-left: .045rem;
}

.pl-second-list .cz .btn-group .icon{
    width: .17rem;
    height: .18rem;
    float: left;
}

.pl-second-list .cz .btn-group div.pull-left{
    margin-left: .33rem;
    position: relative;
    padding-top: .0114rem;
    line-height: .227rem;
}

.pl-second-list .cz .btn-group div.pull-left:nth-child(1){
    margin-left: 0;
}

.pl-second-list .cz .btn-group .dz-white-icon{
    margin-right: .034rem;
}

.pl-second-list .pl-detail{
    font-size: .16rem;
    line-height: .22rem;
    color: #333333;
    margin-top: .08rem;
    padding-bottom: .136rem;
}

.pl-second-list .pl-detail .reply-name{
    color: #6c8dd5;
}

.pl-second-list .data:nth-last-child(1) .pl{
    border-bottom: none;
}

/*视频列表*/
 .v-tab {
    height: .4rem;
    margin-right: .35rem;
}

.tj-tab .video-tab-box{
    overflow-x:auto;
    overflow-y: hidden;
    height: .48rem;
}

.tj-tab .video-tab{
    width: 200%;
    overflow: hidden;
}

.tj-tab .v-tab.active a{
    color: #d43b33!important;
}

.tj-tab .white-shadow{
    position: absolute;
    top: 0;
    z-index: 1;
    right: .1rem;
    height: .4rem;
    width: .4rem;
    background: url("../../assets/img/pop/yincang.png") no-repeat right;
    background-size: 100%;
}

/*文章详情*/
.article-icon-box{
    margin-left: .476rem;
    height: .5rem;
    overflow: hidden;
    line-height: .25rem;
    color: #999;
    font-size: .1rem;
    margin-right: .17rem;
}

.article-icon-box .ic .icon{
    position: relative;
    display: block;
    left: 0;
    height: .25rem;
    margin: 0 auto;
    width: .215rem;
}

.article-icon-box .ic{
    margin-left: .3rem;
    padding-top: .02rem;
}

.article-icon-box .ic:nth-child(1){
    margin-left: 0;
}

.article-introduce{
    font-size: .16rem;
    color: #666666;
    line-height: .24rem;
    overflow: hidden;
    padding-bottom: .136rem;
}

.article-introduce img{
    display: block;
    width: 100%;
    margin: .114rem 0;
}

.pl-bottom-wrapper .article-pl{
    margin-right: .75rem;
    margin-left: .17rem;
    width: 70%;
}

.article-pl-out{
    position: relative;
}

.wrapper-share {
    position: absolute;
    top: .06rem;
    right: .17rem;
}

.wrapper-share .icon{
    height: .18rem;
    width: .193rem;
    margin-right: 0;
    margin-left: .36rem;
}


.article-pl-out .share-icon{
    margin-left: .25rem;
}

.article-pl-out .jubao-black-icon{
    margin-left: 0;
}

/*个人中心*/
.personal-msg{
    padding: .1rem 15px .16rem 15px;
    background: url("../../assets/img/me/bg.png") no-repeat;
    background-size: cover;
    color: #fff;
}

.personal-msg-header{
    height: .35rem;
    padding-top: .045rem;
}

.personal-msg-header .icon{
    width: .216rem;
    height: .216rem;
}

.personal-msg-header label{
    font-size: .1136rem;
    line-height: .1136rem;
    margin-top: .11rem;
    margin-left: .045rem;
}

.personal-msg-header .qd{
    margin-left: .4rem;
    color: #ffbb36;
}

.personal-msg-header .qd.active{
    color: #999;
}

.personal-msg-header .zy{
    color: #fff;
}

.personal-msg-content{
    position: relative;
}
.personal-msg-content .head-pic{
    position: absolute;
    width: .66rem;
    top: 0;
    left: 0;
}

.personal-msg-content .head-pic .pic{
    width: .66rem;
    height: .66rem;
    border-radius: 50%;
}

.personal-msg-content .msg-detail{
    margin-left: .76rem;
    margin-right: .125rem;
    font-size: .1136rem;
}






