.tj-tab{
    text-align: center;
    height: .4rem;
    line-height: .4rem;
    font-size: .18rem;
    color: #999999!important;
    border-bottom: .01rem solid #f0f0f0;
    padding: 0 .16rem;
    background-color: #ffffff;
    overflow-x: hidden;
    position: relative;
}

.tj-tab a{
    color: #999999!important;
}
.tj-tab .tab.active a{
    color: #333333!important;
}

.tj-tab .bottom-line{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: .35rem;
    height: 0;
    border-top: .02rem solid #d43b33;
    display: none;
}

.tj-tab .tab{
    height: .39rem;
}

.tj-tab .tab.active{
    color: #333333!important;
}

.index-container{
    padding: 0 15px;
}

.index-data .data-list{
    padding-bottom: .14rem;
    border-bottom: .006rem solid #f0f0f0;
}

.index-data .data-list:nth-last-child(1){
    border-bottom: none;
}

.index-data .title{
    padding: .12rem 0;
}

.index-data .title a:hover,.index-data .title a:active{
    color: #333333;
}

.index-data .pic{
    width: .364rem;height: .364rem;
}

.index-data .pic .head-img{
    width: .364rem;height: .364rem;
}

.index-data .poster{
    width: 50%;
    overflow: hidden;
    margin-left: .12rem;
    height: .364rem;
}

.index-data .poster .poster-name{
    font-size: .16rem;
    line-height: .20rem;
    color: #666666;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.index-data .poster .poster-name a{
    color: #666666;
}


.index-data .poster .posting-time{
    font-size: .14rem;
    line-height: .18rem;
    color: #999999;
}

.index-data .right-btn .index-gz-btn{
    width: .625rem;
    height: .26rem;
    color: #ffffff;
    background: #d43b33;
    border-radius: .18rem;
    font-size: .16rem;
    line-height: .26rem;
}

.index-data .right-btn .index-gz-btn.active{
    background: #cbcbcb;
}
.index-data .right-btn .index-gz-btn.active::before{
    content: "已";
}

.index-data .right-btn .index-gz-btn.active:before{
    content: "已";
}


.index-data .words{
    font-size: .17rem;
}

.index-data .video-box{
    position: relative;
    background: url("https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=212297457,1410173076&fm=200&gp=0.jpg") no-repeat center;
    background-size: 100%;
    border-radius: .05rem;
    margin-top: .06rem;
}

.video-box .num{
    position: absolute;
    bottom: .148rem;
    width: 100%;
    font-size: .118rem;
    color: #ffffff;
    padding: 0 .148rem;
    line-height: .118rem;
}
.video-box .num .point-left-icon{
    height: .118rem;
    width: .116rem;
    margin-right: .06rem;
}

.video-box .num span{
    display: inline-block;
    line-height: .118rem;
    padding-top: .004rem;
}

.video-box .pop{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../../assets/img/index/bofang.png") no-repeat center;
    background-size: .68rem;
}

.index-data .bottom-icon-group .icon{
    height: .193rem;
    width: .182rem;
    margin-right: .05rem;
    /*float: left;*/
}
.index-data .bottom-icon-group{
    padding-top: .14rem;
    /*padding: .193rem 0;*/
    line-height: .114rem;
}

.index-data .bottom-icon-group .group-li{
    width: .625rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: .04rem;
    font-size: .114rem;
    color: #999999;
}

.index-data .bottom-icon-group .group-li.last{
    padding-top: .039rem;
    padding-right: 0;
    text-align: right;
    width: auto;
    line-height: .193rem;
}

.index-data .bottom-icon-group .group-li.last .ck-icon{
    width: .185rem;
    /*float: left;*/
    height: .114rem;
    margin-top: .03rem;
}

.index-data .bottom-icon-group .group-li.last .index-close-icon{
    width: .114rem;
    height: .114rem;
    margin-left: .1rem;
    margin-top: .03rem;
}

.index-data .left-content{
    padding-right: .1136rem;
}
.index-data .left-content .words{
    font-size: .17rem;
    height: .48rem;
    overflow: hidden;
}

/*.index-data .left-content .bottom-icon-group{*/
/*padding: 0;*/
/*}*/

.nav-video .bg-img img{
    width: 100%;
}
.video-title-box{
    padding: 0 15px;
    border-bottom: .006rem solid #f0f0f0;
}


.video-title-box .title{
    font-size: .159rem;
    line-height: .24rem;
    color: #333333;
    padding-top: .06rem;
}

.video-title-box .title .show-more-icon{
    width: .1625rem;
    height: .24rem;
}
.video-btn-box{
    padding-top: .04rem;
    padding-bottom: .12rem;
}
.video-btn-box .pull-left{
    margin-right: .1625rem;
}

.video-btn-box div.pull-left{
    height: .15rem;
    line-height: .15rem;
    font-size: .1136rem;
    color: #999;
    margin-top: .04rem;
}

.video-btn-box div.pull-left .icon{
    width: .125rem;
    height: .14rem;
    margin-right: .034rem;
}

.video-icon-box div.pull-left label{
    margin-top: .05rem;
    line-height: .14rem;
}

.video-btn-box .pull-right .icon{
    height: .18rem;
    width: .193rem;
    margin-right: 0;
    margin-left: .36rem;
}
.video-btn-box .pull-right .icon:nth-child(1){
    margin-left: 0;
}

.video-introduce{
    font-size: .125rem;
    color: #666666;
    line-height: .2rem;
    height: .2rem;
    overflow: hidden;
}

.video-introduce.active{
    height: auto;
}

.video-icon-box{
    margin-top: .1rem;
    padding-bottom: .1rem;
    color: #999999;
}
.video-icon-box .icon{
    height: .18rem;
    width: .193rem;
    margin-right: .034rem;
}
.video-box.pull-right .num{
    position: absolute;
    bottom: .068rem;
    padding: 0 .068rem;
}

.video-box.pull-right .pop{
    background: url("../../assets/img/index/bofang.png") no-repeat center;
    background-size: .261rem;
}

.words .word-title{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.words .word-contet{
    height: .6rem;
    overflow: hidden;
    line-height: .2rem;
    color: #666;
    margin-top: .04rem;
    font-size: .16rem;
}
.pic-box .article-pic{
    max-height: .8rem;
    overflow: hidden;
    width: 32%;
    margin-right: 2%;
    margin-top: .044rem;
    border-radius: .028rem;
}
.pic-box .article-pic:nth-last-child(1){
    margin-right: 0;
}

.pic-box .article-pic .pic{
    width: 100%;
    height: .9rem;
    border-radius: .028rem;
}
.big-video{
    height: 2rem;
}

.small-video{
    height: .8rem;
}

.video-box .v-pic{
    width: 100%;
    border-radius: .0284rem;
}

.num .ck-white-icon{
    width: .185rem;
    height: .12rem;
    margin-right: .01rem;
}

/*评论详细*/
.nav-pl-top{
    position: fixed;
    width: 100%;
    top: 0;
    height: .5rem;
    line-height: .5rem;
    font-size: .136rem;
    color: #333;
    background-color: #ffffff;
    z-index: 10;
    border-bottom: .006rem solid #dfdfdf;
    text-align: center;
}

.nav-pl-top .icon{
    height: .5rem;
    width: .136rem;
    position: absolute;
    left: .17rem;
    top:0;
}
.pl-second-list{
    padding: 0 .17rem;
}

.pl-second-list .hits{
    height: .4rem;
    line-height: .4rem;
    font-size: .136rem;
    color: #6c8dd5;
    text-align: right;
    border-bottom: .006rem solid #dfdfdf;
}

.pl-second-list .hits .icon{
    height: .136rem;
    width: .136rem;
    margin-right: .045rem;
}

.pl-second-list .data{
    padding: .136rem 0;
    position: relative;
}

.pl-second-list .head-pic{
    position: absolute;
    width: .3rem;
}

.pl-second-list .head-pic .pic{
    width: .3rem;
    height: .3rem;
    border-radius: 50%;
}

.pl-second-list .pl{
    margin-left: .42rem;
    border-bottom: .006rem solid #dfdfdf;
}

.pl-second-list .cz .name{
    color: #6c8dd5;
    display: inline-block;
    max-width: 1.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pl-second-list .cz .name a{
    color: #6c8dd5;

}

.pl-second-list .quanwei{
    /*margin-top: .04rem;*/
}

.pl-second-list .cz .time{
    font-size: .114rem;
    line-height: .114rem;
    color: #999999;
}


.pl-second-list .btn-group{
    margin-top: .05rem;
    color: #999999;
}

.pl-second-list .btn-group label{
    margin-top: .05rem;
    line-height: .14rem;
    margin-left: .045rem;
}

.pl-second-list .cz .btn-group .icon{
    width: .17rem;
    height: .18rem;
    float: left;
}

.pl-second-list .cz .btn-group div.pull-left{
    margin-left: .33rem;
    position: relative;
    padding-top: .0114rem;
    line-height: .227rem;
}

.pl-second-list .cz .btn-group div.pull-left:nth-child(1){
    margin-left: 0;
}

.pl-second-list .cz .btn-group .dz-white-icon{
    margin-right: .034rem;
}

.pl-second-list .pl-detail{
    font-size: .16rem;
    line-height: .22rem;
    color: #333333;
    margin-top: .08rem;
    padding-bottom: .136rem;
}

.pl-second-list .pl-detail .reply-name{
    color: #6c8dd5;
}

.pl-second-list .data:nth-last-child(1) .pl{
    border-bottom: none;
}

/*视频列表*/
.v-tab {
    height: .4rem;
    margin-right: .35rem;
}

.tj-tab .video-tab-box{
    overflow-x:auto;
    overflow-y: hidden;
    height: .48rem;
}

.tj-tab .video-tab{
    width: 200%;
    overflow: hidden;
}

.tj-tab .v-tab.active a{
    color: #d43b33!important;
}

.tj-tab .white-shadow{
    position: absolute;
    top: 0;
    z-index: 1;
    right: .1rem;
    height: .4rem;
    width: .4rem;
    background: url("../../assets/img/pop/yincang.png") no-repeat right;
    background-size: 100%;
}

/*文章详情*/
.article-icon-box{
    margin-left: .476rem;
    height: .5rem;
    overflow: hidden;
    line-height: .25rem;
    color: #999;
    font-size: .1rem;
    margin-right: .17rem;
}

.article-icon-box .ic .icon{
    position: relative;
    display: block;
    left: 0;
    height: .25rem;
    margin: 0 auto;
    width: .215rem;
}

.article-icon-box .ic{
    margin-left: .3rem;
    padding-top: .02rem;
}

.article-icon-box .ic:nth-child(1){
    margin-left: 0;
}

.article-introduce{
    font-size: .16rem;
    color: #666666;
    line-height: .24rem;
    overflow: hidden;
    padding-bottom: .136rem;
}

.article-introduce img{
    display: block;
    width: 100%;
    margin: .114rem 0;
}

.pl-bottom-wrapper .article-pl{
    margin-right: .75rem;
    margin-left: .17rem;
    width: 70%;
}

.article-pl-out{
    position: relative;
}

.wrapper-share {
    position: absolute;
    top: .06rem;
    right: .17rem;
}

.wrapper-share .icon{
    height: .193rem;
    width: .193rem;
    margin-right: 0;
    margin-left: .36rem;
}


.article-pl-out .share-icon{
    margin-left: .25rem;
}

.article-pl-out .jubao-black-icon{
    margin-left: 0;
}

/*个人中心*/
.personal-msg{
    padding: .1rem .17rem .16rem .17rem;
    background: url("../../assets/img/me/bg.png") no-repeat;
    background-size: cover;
    color: #fff;
}

.personal-msg-header{
    height: .29rem;
    padding-top: .045rem;
}

.personal-msg-header .icon{
    width: .16rem;
    height: .16rem;
}

.personal-msg-header label{
    font-size: .1136rem;
    line-height: .1136rem;
    /*margin-top: .11rem;*/
    margin-left: .045rem;
}

.personal-msg-header .qd a{
    margin-left: .4rem;
    color: #ffbb36;
    width:auto;
}

.personal-msg-header .qd.active a{
    color: #999;
}

.personal-msg-header .zy a{
    color: #fff;
}

.personal-msg-content{
    position: relative;
}
.personal-msg-content .head-pic{
    position: absolute;
    width: .66rem;
    top: 0;
    left: 0;
}

.personal-msg-content .head-pic .pic{
    width: .66rem;
    height: .66rem;
    border-radius: 50%;
}

.personal-msg-content .head-pic .sex-icon{
    position: absolute;
    right: .06rem;
    bottom: 0;
    z-index: 10;
    height: .17rem;
    width: .17rem;
}

.personal-msg-content .msg-detail{
    margin-left: .76rem;
    margin-right: .125rem;
    font-size: .1136rem;
    padding-top: .06rem;
}

.personal-msg-content .msg-detail span{
    padding: 0 .054rem;
}

.personal-msg-content .msg-detail .name{
    font-size: .16rem;
    line-height: .16rem;
}

.personal-msg-content .msg-detail .data{
    margin-top: .08rem;
    line-height: .1136rem;
    color: #c8cef9;
}

.personal-msg-content .msg-detail .motto{
    margin-top: .08rem;
    line-height: .18rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #c8cef9;
}
.personal-msg-content .to-update{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: .08rem;
    height: .19rem;
}
.personal-msg-content .to-update .icon{
    width: .08rem;
    height: .19rem;
}

.personal-msg-bottom{
    text-align: center;
    margin-top: .19rem;
    font-size: .136rem;
}

.personal-list-box{
    border-top: .006rem solid #dfdfdf;
    border-bottom: .006rem solid #dfdfdf;
    margin-top: .068rem;
    background-color: #fff;
}

.personal-list-box .personal-list{
    height: .568rem;
    line-height: .568rem;
    /*overflow: hidden;*/
    padding: 0 .17rem;
    position: relative;
}
.personal-list-box .personal-list .left-icon{
    position: absolute;
    left: .17rem;
    top: 0;
}

.personal-list-box .personal-list .auto{
    margin-left: 0.38rem;
    border-bottom: .006rem solid #f0f0f0;
    height: 0.562rem;
    line-height: 0.562rem;
}

.personal-list-box .personal-list .auto .tit{
    font-size: .16rem;
    color: #333;
}

.personal-list-box .personal-list:nth-last-child(1) .auto{
    border-bottom: none;
}

.personal-list-box .personal-list .left-icon .icon{
    height: .568rem;
    width: .227rem;
    margin-right: .16rem;
}

.personal-list-box .personal-list .pull-right span{
    font-size: .136rem;
    color: #999;
}

.personal-list-box .personal-list .pull-right .icon{
    height: .568rem;
    width: .08rem;
    margin-left: .16rem;
}

.msg-detail .vip-icon{
    width: .2386rem;
    height: .1136rem;
    margin-top: .02rem;
}

.msg-detail .name .quanwei{
    margin-left: 0;
}


/*修改资料*/
.update-msg-box{
    border-top: .006rem solid #dfdfdf;
    border-bottom: .006rem solid #dfdfdf;
    font-size: .1477rem;
    line-height: .568rem;
    margin-top: .068rem;
}

.update-msg-box.f-box{
    border-top: none;
    margin-top: 0;
}

.update-msg-box .img-box{
    padding: .125rem .17rem;
    line-height: .568rem;
}

.update-msg-box .img-box .head-pic{
    width: .5rem;
    height: .5rem;
}

.update-msg-box .pull-right.icon{
    height: .568rem;
    width: .08rem;
    margin-left: .16rem;
}

.update-msg-box .label-box{
    padding: 0 .17rem;
    height: .568rem;
}

.update-msg-box .label-box .update{
    border-bottom: .006rem solid #f0f0f0;
    height: .568rem;
}

.update-msg-box .label-box .update label{
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.update-msg-box .label-box:nth-last-child(1) .update{
    border-bottom: none;
}

/*修改详细页*/
.nav-pl-top .over{
    position: absolute;
    right: .17rem;
    top: 0;
    color: #666;
}

.update-input-box{
    margin-top: .125rem;
    height: .48rem;
    position: relative;
}
.update-input-box .input{
    /*display: block;*/
    height: .48rem;
    padding: 0 .17rem;
    line-height: .48rem;
    margin-right: .34rem;
    width: 90%;
    color: #333;
    font-size: .1477rem;
}

.update-input-box .clear-icon,
.pw-input-box .clear-icon{
    position: absolute;
    width: .16rem;
    height: .16rem;
    right: .17rem;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}

.countNum{
    padding: 0 .17rem;
    font-size: .1136rem;
    color: #b7b7b7;
    margin-top: .1rem;
}


.update-textarea-box .textarea{
    height: 1.08rem;
    padding: .17rem;
    width: 100%;
    color: #333;
    font-size: .1477rem;
}

.update-textarea-box{
    margin-top: .125rem;
}

.pw-input-box{
    margin: .16rem .17rem 0 .17rem;
    height: .454rem;
    position: relative;
    color: #999;
    font-size: .1477rem;
}

.pw-input-box .phone-icon,
.pw-input-box .yzm-icon,
.pw-input-box .pw-icon,
.pw-input-box .nc-icon
{
    position: absolute;
    width: .16rem;
    height: .18rem;
    left: .17rem;
    top: 50%;
    transform: translateY(-50%);
}
.pw-input-box .pw-input{
    margin: 0 .33rem;
    height: 100%;
    color: #999;
    font-size: .1477rem;
    line-height: .454rem;
    padding: 0 .17rem;
}
.pw-input-box .get-code{
    position: absolute;
    top: 50%;
    right: .17rem;
    transform: translateY(-50%);
    color: #6c8dd5;
}

.pw-tip{
    font-size: .1136rem;
    padding: 0 .34rem;
    margin-top: .057rem;
    color: #999;
}

.top-qx .top-qx-box{
    height: .4rem;
    padding: 0 .17rem;
    line-height: .4rem;
    font-size: .16rem;
}

.select-sex-box .select-option{
    text-align: center;
    font-size: .16rem;
}

.select-sex-box .select-option .data{
    height: .48rem;
    line-height: .48rem;
    border-bottom: .006rem solid #f0f0f0;
}

.select-sex-box .select-option .data.active{
    color: #6c8dd5;
}


.nav-pl-top.update-data{
    font-size: .17rem;
}

/*注册登录*/
.login-title-box{
    position: relative;
    text-align: center;
    padding-top: .136rem;
}

.login-title-box .index-close-icon{
    position: absolute;
    width: .216rem;
    height: .216rem;
    top: .136rem;
    right: .17rem;
}

.login-title-box .title{
    font-size: .17rem;
}

.login-title-box .introduce{
    font-size: .136rem;
    color: #999;
    margin-top: .3rem;
}

.login-btn{
    text-align: center;
    margin: .16rem .17rem 0 .17rem;
}


.login-btn .login-submit{
    width: 100%;
    height: .454rem;
    line-height: .454rem;
    color: #fff;
    background-color: #d43b33;
    border-radius: .03rem;
}
.login-other{
    margin: .16rem .17rem 0 .17rem;
}
.login-other .type{
    width: auto;
}

.toRegister{
    position: fixed;bottom: .2rem;
    width: 100%;
    text-align: center;
}

.toRegister a{
    font-size: .16rem;
}

.register-tip{
    margin: .16rem .17rem 0 .17rem;
    color: #999;
    font-size: .136rem;
}

.login-title-box .return-black-icon{
    position: absolute;
    width: .1136rem;
    height: .227rem;
    top: .136rem;
    left: .17rem;
}


/*粉丝，关注*/
.fans-list .data{
    height: 1rem;
    padding: .18rem .17rem;
    position: relative;
}
.fans-list .data .head-pic{
    position: absolute;
    left: .17rem;
    top: .18rem;
}
.fans-list .data .head-pic .pic{
    height: .636rem;
    width: .636rem;
    border-radius: 50%;
}

.fans-list .data .head-pic .sex-icon{
    position: absolute;
    right: .06rem;
    bottom: 0;
    z-index: 1;
    height: .17rem;
    width: .17rem;
}

.fans-list .data .msg-detail{
    margin: 0 .966rem 0 .73rem ;
}

.fans-list .data .msg-detail{
    padding: .125rem 0 ;
}

.fans-list .data{
    border-bottom: .006rem solid #eaeaea;
}

.fans-list .data:nth-last-child(1){
    border-bottom: none;
}

.fans-list .data .msg-detail .name{
    font-size: .16rem;
    line-height: .17rem;
    height: .17rem;
}

.fans-list .data .msg-detail .name .p-name{
    max-width: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: .068rem;
    height: .17rem;
}

.fans-list .data .msg-detail .motto{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .136rem;
    color: #999;
    line-height: .136rem;
    margin-top: .09rem;
}

.fans-list .data .gz-btn{
    position: absolute;
    right: .17rem;
    bottom: .18rem;
    width: .568rem;
    height: .557rem;
    padding: .09rem 0;
}

.fans-list .data .gz-btn .gz,
.fans-list .data .gz-btn .lt
{
    width: .568rem;
    height: .284rem;
    border-radius: .2rem;
    background-color: #d43b33;
    color: #fff;
    font-size: .125rem;
    line-height: .284rem;
}

.fans-list .data .gz-btn .gz.active{
    background-color: #cbcbcb;
}

.fans-list .data .gz-btn .gz .icon{
    width: .125rem;
    height: .125rem;
    margin-left: .08rem;
    margin-right: .02rem;
    margin-top: .07rem;
}

/*红包*/
.hb_tab{
    text-align: center;
}

.hb_tab .tab{
    display: inline-block;
    margin-right: .557rem;
    position: relative;
}

.hb_tab .tab:nth-last-child(1){
    margin-right: 0;
}

.hb_tab .tab .tab-bottom-icon{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: .35rem;
    height: .018rem;
    background-color: #d43b33;
    display: none;
}

.hb_tab .tab.active .tab-bottom-icon{
    display: block;
}

.hb-list .data{
    position: relative;
}

.hb-list .post-data{
    margin-bottom: .0568rem;
    position: relative;
}

.hb-list .data .hb-pic{
    position: absolute;
    top: .2rem;
    left: .17rem;
    width: .32rem;
    height: .398rem;
    background: url("../../assets/img/me/hongbao.png") no-repeat center;
    background-size: 100%;
    z-index: 9;
}

.hb-list .data .msg-detail{
    position: relative;
    z-index: 9;
    margin-left: .6rem;
    margin-right: .17rem;
    padding: .2rem 0;
    border-bottom: .006rem solid #eaeaea;
}

.hb-list .post-data .msg-detail{
    margin-right: .26rem;
}

.hb-list .post-data .jd{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hb-list .post-data .jd .jdt{
    width: 50%;
    background-color: rgba(226,226,226,.5);
    height: 100%;
}


.hb-list .post-data .msg-detail{
    border-bottom: none;
}

.hb-list .post-data .top-right-icon{
    position: absolute;
    height: .568rem;
    width: .09rem;
    top: 50%;
    right: .17rem;
    transform: translateY(-50%);
    z-index: 9;
}

.hb-list .data:nth-last-child(1) .msg-detail{
    border-bottom: none;
}

.hb-list .data .msg-detail .detail{
    font-size: .16rem;
    line-height: .17rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hb-list .data .msg-detail .msg{
    font-size: .1136rem;
    line-height: .12rem;
    margin-top: .08rem;
    color: #999;
}


.fans-list .talk-box{
    position: absolute;
    right: .17rem;
    top: .18rem;
    width: .69rem;
    height: .73rem;
    padding: .125rem 0;
    text-align: right;
}

.fans-list .talk-box .time{
    color: #999;
    font-size: .1136rem;
}

.fans-list .talk-box .new{
    font-size: .14rem;
    color: #d43b33;
    margin-top: .04rem;
    display: none;
}

.fans-list .talk-box .new.active{
    display: block;
}

.nav-pl-top .nc-icon{
    position: absolute;
    top: 0;
    right: .17rem;
    height: .5rem;
    width: .17rem;
}

.nav-pl-top .shanchu-icon{
    position: absolute;
    top: 0;
    right: .17rem;
    height: .5rem;
    width: .17rem;
}


.myself-pl-list .data .head-pic{
    position: absolute;
    left: .17rem;
    top: .18rem;
}
.myself-pl-list .data{
    position: relative;
}


.myself-pl-list .data .head-pic .pic{
    height: .4rem;
    width: .4rem;
    border-radius: 50%;
}

.myself-pl-list .data .head-pic .sex-icon {
    position: absolute;
    right: -.01rem;
    bottom: 0;
    z-index: 1;
    height: .14rem;
    width: .14rem;
}

.myself-pl-list .data .msg-detail{
    margin: 0 .17rem 0 .664rem;
    padding: .193rem 0;
    padding-right: .63rem;
    border-bottom: .006rem solid #eaeaea;
}

.myself-pl-list .data:nth-last-child(1) .msg-detail{
    border-bottom: none;
}

.myself-pl-list .msg-detail .name{
    font-size: .156rem;
    line-height: .157rem;
}

.myself-pl-list .msg-detail .motto{
    font-size: .136rem;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: .04rem;
}

.myself-pl-list .msg-detail .time{
    color: #999;
    font-size: .1136rem;
    margin-top: .04rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.myself-pl-list .talk-pic-box{
    position: absolute;
    right: .17rem;
    top: .18rem;
    width: .42rem;
    height: .46rem;
    overflow: hidden;
}

.myself-pl-list .talk-pic-box .pl-pic{
    width: 100%;
}

/*聊天*/
.nav-pl-top .more-icon{
    position: absolute;
    right: .17rem;
    top: 0;
    height: .5rem;
    width: .2rem;
}

.chat-submit-btn{
    width: .5rem;
    height: .24rem;
    background-color: #d43b33;
    color: #fff;
    border-radius: .03rem;
    margin-left: .1136rem;
}

.chat-box .hf-time{
    font-size: .1136rem;
    color: #999;
    text-align: center;
    margin-top: .193rem;
}

.chat-box .list .data .chat-box{
    width: 70%;
    position: relative;
    padding: 0 .17rem;
    margin-top: .125rem;
}

.chat-box .list .data .chat-box.you{
    float: left;
}

.chat-box .list .data .chat-box.me{
    float: right;
}

.chat-box .list .data .chat-box .head-pic{
    position: absolute;
    top: .02rem;
    /*left: 0;*/
    width: .364rem;
    height: .364rem;
}

.chat-box .list .data .chat-box.you .head-pic{
    left: .17rem;
}

.chat-box .list .data .chat-box.me .head-pic{
    right: .17rem;
}

.chat-box .list .data .chat-box .head-pic .pic{
    width: .364rem;
    height: .364rem;
}

.chat-box .list .data .chat-box .chat-content{
    padding: .1rem;
}

.chat-box .list .data .chat-box.you .chat-content{
    margin-left: .58rem;
    background-color: #fff;
    border: .006rem solid #eaeaea;
    border-radius: .03rem;
    position: relative;
}

.chat-box .list .data .chat-box.me .chat-content{
    margin-right: .58rem;
    background-color: #40a3ff;
    border: .006rem solid #eaeaea;
    border-radius: .03rem;
    position: relative;
    color: #fff;
}

.chat-box .list .data .chat-box .chat-content .sanjiao-icon{
    position: absolute;
    top: .096rem;
    width: .1rem;
    height: .2rem;
    z-index: 1;
}

.chat-box .list .data .chat-box.you .chat-content .sanjiao-icon{
    left: -.09rem;
}

.chat-box .list .data .chat-box.me .chat-content .sanjiao-icon{
    right: -.09rem;
}

.select-cz-box{
    text-align: center;
    font-size: .159rem;
    line-height: .4545rem;
}

.select-cz-box .select-option .data,
.select-cz-box .qx
{
    height: .4545rem;
}

.select-cz-box .select-option .data{
    border-bottom: .006rem solid #eaeaea;
}
.select-cz-box .qx{
    margin-top: .08rem;
}

.pop-box-b{
    position: fixed;
    z-index: 200;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    right: 0;
    width: 2.8rem;
    background-color: #fff;
    padding: .17rem;
    border-radius: .03rem;
}

.pop-box-b .tip{
    text-align: center;
    font-size: .16rem;
}

.pop-box-b .pop-btn{
    text-align: center;
    margin-top: .216rem;
}

.pop-box-b .pop-btn .yes,
.pop-box-b .pop-btn .no{
    width: 1.2rem;
    height: .33rem;
    border-radius: .03rem;
    color: #fff;
}

.pop-box-b .pop-btn .yes{
    background-color: #d43b33;
}

.pop-box-b .pop-btn .no{
    background-color: #cbcbcb;
    margin-right: .02rem;
}

/*上传视频文章*/
.upload-group{
    margin: .1rem .17rem 0 .17rem;
    border-radius: .03rem;
    position: relative;
    border: .006rem solid #dedede;
}

.upload-group .input-title{
    padding: .147rem .1136rem;
    font-size: .148rem;
    line-height: .15rem;
    height: .5rem;
    width: 100%;
    border-radius: .03rem;
    /*border: .006rem solid #dedede;*/
}

.upload-group .input-introduce{
    padding: .147rem .1136rem;
    font-size: .148rem;
    line-height: .2rem;
    height: 1.136rem;
    width: 100%;
    border-radius: .03rem;
}


.upload-group.upload-span{
    padding: 0 .1136rem;
    font-size: .136rem;
    line-height: .5rem;
    height: .5rem;
    border: .006rem solid #dedede;
}

.upload-group .select-sanjiao-icon{
    width: .1136rem;
    height: .068rem;
}
.upload-group .select-option{
    position: absolute;
    width: 100%;
    top:.5rem;
    left: 0;
    z-index: 1;
    color: #666;
    box-shadow: 0 0 0.03rem 0 #999;
    display: none;
}

.upload-group .select-option .option{
    height: .4rem;
    line-height: .4rem;
    padding: 0 .147rem;
    color: #666;
}

.upload-group .select-option .option:hover{
    background-color: #d43b33;
    color: #fff;
}

.upload-group .top-right-icon{
    height: .5rem;
    width: .08rem;
    margin-left: .16rem;
}

.upload-group.upload-span div.pull-right{
    height: .5rem;
    line-height: .5rem;
}

.upload-group .kaiguan-icon{
    width: .523rem;
    height: .5rem;
}

.upload-group.upload-box{
    padding: .147rem .1136rem;
    border: .006rem solid #dedede;
}

.upload-group .video-upload-box{
    height: 1.3rem;
    width: 1.3rem;
    margin-right: .25rem;
    position: relative;
}

.upload-group .video-upload-box:nth-last-child(1){
    margin-right: 0;
}

.video-upload-box .bg .pic{
    height: .68rem;
    background: url("../../assets/img/upload/xiangji.png")no-repeat bottom center;
    background-size: 50%;
}

.video-upload-box .span{
    margin-top: .1136rem;
    font-size: .136rem;
    text-align: center;
}

.video-upload-box .uploadfile-video{
    opacity: 0;
    z-index: 2;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}
.video-upload-box.watch{
    background-image: url("https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=212297457,1410173076&fm=200&gp=0.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    position: relative;
}

.video-upload-box.watch .close-icon{
    width: .17rem;
    height: .17rem;
    margin-top: .07rem;
    margin-right: .07rem;
}

.video-upload-box.watch .bottom-span{
    position: absolute;
    bottom: .07rem;
    right: .07rem;
    color: #fff;
    font-size: .1136rem;
}

.upload-group .input-content{
    height: 1.136rem;
    border: .006rem solid #dedede;
    color: #999;
    padding: .147rem .1136rem;
}
/*添加标签*/
.add-label{
    margin: 0 .17rem;
    position: relative;
    height: .5rem;
    border-bottom: .006rem solid #dedede;
}

.add-label .input-label{
    display: block;
    width: 70%;
    height: .49rem;
    line-height: .49rem;
    text-align: left;
    font-size: .136rem;
    font-weight: normal;
}

.add-label .right-btn{
    height: .5rem;
    line-height: .5rem;
}

.add-label .right-btn .add{
    width: .51rem;
    height: .26rem;
    line-height: .26rem;
    background-color: #d43b33;
    color: #fff;
    border-radius: .03rem;
    margin-left: .1rem;
}

.add-label .right-btn .num{
    color: #999;
}

.label-list{
    padding: .17rem;
}

.label-list .data{
    float: left;
    color: #d43b33;
    border: .006rem solid #d43b33;
    padding: .068rem .17rem;
    border-radius: .2rem;
    font-size: .148rem;
    margin-right: .17rem;
    margin-bottom: .125rem;
}

.label-list .data:active{
    background-color: #d43b33;
    color: #fff;
}

/*红包设置*/
.hb-input-box{
    margin: .16rem .17rem 0 .17rem;
    height: .454rem;
    position: relative;
    font-size: .1477rem;
    line-height: .454rem;
    padding: 0 .125rem;
}

.hb-input-box input{
    text-align: right;
    width: 2rem;
    margin-right: .1rem;
    height: .4rem;
}

.login-btn .hb-submit{
    width: 100%;
    height: .454rem;
    line-height: .454rem;
    color: #fff;
    background-color: #d43b33;
    border-radius: .03rem;
}

/*视频收藏*/
.nav .return .icon {
    height: .5rem;
    width: .136rem;
    position: absolute;
    left: .17rem;
    top: 0;
}

.collect-tab{
    text-align: center;
}

.collect-tab .href-sc{
    padding: .1rem 0 .1rem 0;
    width: 25%;
}

.collect-tab .camera-icon{
    height: .147rem;
    width: .193rem;
}
.collect-tab .control-tab{
    padding: .1rem 0 .1rem 0;
    position: relative;
}

.collect-tab .control-tab .collect-num{
    font-size: .125rem;
    color: #999;
}

.collect-tab .control-tab .collect-stat{
    font-size: .136rem;
    color: #333;
}

.collect-tab .control-tab .collect-tab-line{
    position: absolute;
    bottom: .012rem;
    left: 50%;
    transform: translateX(-50%);
    width: .34rem;
    height: .012rem;
    background-color: #d43b33;
    display: none;
}

.collect-tab .control-tab.active .collect-stat{
    color: #d43b33;
}

.collect-tab .control-tab.active .collect-tab-line{
    display: block;
}

.collect-video-list{
    padding-top: .17rem;
}

.collect-video-list .posting-time{
    font-size: .1136rem;
    color: #999;
}

.collect-video-list .words
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.collect-video-list .words a{
    font-size: .1477rem;
}

.collect-video-list .bottom-icon-group .group-li{
    padding-right: .34rem;
    width: auto;
}
.collect-video-list .bottom-icon-group .group-li.laster{
    padding-right: 0;
    width: auto
}

.hb-list .myself-pl-list .msg-detail .name{
    margin-top: .04rem;
}

.collect-article-list{
    padding-top: .17rem;
}

.collect-article-list .words .word-contet{
    font-size: .1136rem;
    color: #666;
    line-height: .2rem;
    height: .4rem;
    overflow: hidden;
}

.collect-article-list .words a{
    font-size: .1477rem;
}

.collect-article-list .bottom-icon-group .group-li .see-icon{
    width: .2rem;
}

.collect-article-list .bottom-icon-group .group-li{
    padding-right: .14rem;
    width: auto;
}

.collect-article-list .posting-time{
    font-size: .1136rem;
    color: #999;
}

.collect-article-list .bottom-icon-group .group-li.laster{
    padding-right: 0;
    width: auto
}

/*礼物*/
.myself-pl-list .data .gift-poster{
    position: absolute;
    right: .17rem;
    top: .14rem;
}

.myself-pl-list .data .gift-poster .pic {
    height: .4rem;
    width: .4rem;
    border-radius: 50%;
}

.myself-pl-list .data .gift-poster .sex-icon {
    position: absolute;
    right: -.01rem;
    bottom: 0;
    z-index: 1;
    height: .14rem;
    width: .14rem;
}


.myself-pl-list .xiaxian-btn{
    position: absolute;
    right: .17rem;
    top: 50%;
    transform: translateY(-50%);
}
.myself-pl-list .xiaxian-btn .xx{
    width: .5rem;
    height: .26rem;
    line-height: .26rem;
    background-color: #d43b33;
    color: #fff;
    border-radius: .03rem;
}

.myself-pl-list .xiaxian-btn.active .xx{
    background-color: #cbcbcb;
}
/*充值*/
.recharge{
    padding: .27rem .17rem;
    font-size: .16rem;
    line-height: .161rem;
    /*padding-bottom: 0;*/
}

.recharge-select,
.recharge-type
{
    margin-top: .33rem;
}

.recharge-select .title,
.recharge-type .title
{
    font-size: .16rem;
}

.recharge-select .recharge-select-li{
    margin-top: .16rem;
}

.recharge-select .recharge-select-li .data,
.recharge-select .recharge-select-li .data-zdy
{
    width: 32%;
    float: left;
    margin-right: 2%;
    padding: .14rem 0;
    text-align: center;
    color: #f35f07;
    border: .006rem solid #f35f07;
    margin-bottom: .1136rem;
    /*height: .8rem;*/
    position: relative;
}



@media screen and (min-width:768px) {
    .recharge-select .recharge-select-li .data,
    .recharge-select .recharge-select-li .data-zdy{
        height: .7rem;
    }
}

@media screen and (min-width:375px) {
    .recharge-select .recharge-select-li .data,
    .recharge-select .recharge-select-li .data-zdy{
        height: .6rem;
    }
}

@media screen and (min-width:320px) {
    .recharge-select .recharge-select-li .data,
    .recharge-select .recharge-select-li .data-zdy{
        height: .58rem;
    }
}

.recharge-select .recharge-select-li .data.active,
.recharge-select .recharge-select-li .data-zdy.active
{
   background-color: #f35f07;
    color: #fff;
}

.recharge-select .recharge-select-li .data .option,
.recharge-select .recharge-select-li .data-zdy .option
{
    font-size: .17rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.recharge-select .recharge-select-li .data .cost,
.recharge-select .recharge-select-li .data-zdy .cost
{
    font-size: .125rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: .06rem;
}

.recharge-select .recharge-select-li .data.col3{
    margin-right: 0;
}

.recharge-select .recharge-select-li .data .content,
.recharge-select .recharge-select-li .data-zdy .content
{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}


.recharge-type-li .data{
    margin-top: .16rem;
    line-height: .23rem;
    font-size: .1477rem;
}

.recharge-type-li .data:nth-child(1){
    margin-top: .22rem;
}

.recharge-type-li .data .icon{
    width: .227rem;
    height: .227rem;
}

.recharge-type-li .data .select-icon{
    width: .2rem;
    height: .2rem;
    margin-top: .0135rem;
}

.recharge-type-li .data div.pull-left .icon{
    margin-right: .068rem;
}

.recharge-type-li .data .top-right-icon{
    width: .08rem;
    height: .227rem;
    margin-right: .06rem;
}

.recharge-pay{
    margin-top: .2rem;
    text-align: center;
}

.recharge-pay .total{
    font-size: .16rem;
}

.recharge-pay .pay-btn{
    margin-top: .17rem;
}

.recharge-pay .pay-btn .pay{
    width: 90%;
    height: .4545rem;
    line-height: .4545rem;
    background-color: #f35f07;
    color: #fff;
    border-radius: .03rem;
    font-size: .16rem;
}

.recharge-pay .tip{
    font-size: .1136rem;
    margin-top: .16rem;
}

.data-zdy .jinbi-input{
    font-size: .17rem;
    width: 90%;
    display: block;
    height: 100%;
    line-height: 100%;
    color: #f35f07;
    margin-left: 5%;
    text-align: center;
}

.recharge-sy .vip-icon {
    width: .2386rem;
    height: .1136rem;
    margin-top: .02rem;
    margin-left: .09rem;
}

.recharge-sy .time{
    color: #999;
    font-size: .1136rem;
    margin-top: .09rem;
}

/*充值记录*/
.recode-list .data{
    margin-top: .113rem;
    padding: .113rem .17rem;
    background-color: #fff;
    border-top: .006rem solid #dfdfdf;
    border-bottom: .006rem solid #dfdfdf;
}

.recode-list .dd{
    font-size: .1136rem;
    line-height: .114rem;
    color: #999;
}

.recode-list .detail{
    margin-top: .216rem;
}

.recode-list .pay-type{
    font-size: .1477rem;
    line-height: .15rem;
}

.recode-list .time{
    font-size: .1137rem;
    color: #999;
    line-height: .114rem;
    margin-top: .09rem;
}

.recode-list .money{
    text-align: right;
    font-size: .148rem;
    line-height: .354rem;
    font-weight: bold;
}
/*选择标签*/
.login-title-box .tip{
    font-size: .136rem;
    line-height: .137rem;
    margin-top: .06rem;
    color: #999;
    margin-bottom: .17rem;
}
.add-label-list{
    margin-top: .238rem;
    padding: 0 .17rem;
}

.add-label-list .title{
    font-size: .136rem;
    line-height: .1361rem;
}

.add-label-list .title .show-more-icon{
    width: .136rem;
    height: .136rem;
}
.add-label-list .label-class{
    display: none;
}

.add-label-list.active .label-class{
    display: block;
}
.add-label-list .data {
    height: .4rem;
    width: 23.5%;
    text-align: center;
    line-height: .4rem;
    color: #666;
    font-size: .136rem;
    border: .006rem solid #dbdbdb;
    float: left;
    margin-right: 2%;
    margin-top: .1136rem;
    border-radius: .2rem;
    position: relative;
}
.add-label-list .data.active{
    border-color: #d43b33;
    color: #d43b33;
}

.add-label-list .data .select-label-icon{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: .125rem;
    height: .125rem;
    display: none;
}

.add-label-list .data.active .select-label-icon{
    display: block;
}

.add-label-list .data.col4{
    margin-right: 0;
}
.add-label-btn{
    text-align: center;
    margin-top: .568rem;
}
.add-label-btn .add-label-submit{
    width: 80%;
    height: .454rem;
    line-height: .454rem;
    font-size: .16rem;
    color: #fff;
    background-color: #d43b33;
    border-radius: .23rem;
}
/*推荐关注*/
.recommend-title{
    font-size: .2159rem;
    line-height: .216rem;
    text-align: center;
    margin-top: .568rem;
}

.recommend-list{
    margin-top: .25rem;
}
.recommend-list .data{
    width: 25%;
    float: left;
    overflow: hidden;
    margin-top: .318rem;
}

.recommend-list .data-box{
    width: .647rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.recommend-list .data-box .head-pic{
    position: relative;
}
.recommend-list .data-box .head-pic .pic{
    width: .647rem;
    height: .647rem;
    border-radius: 50%;
}

.recommend-list .head-pic .renzheng-icon {
    position: absolute;
    right: .02rem;
    bottom: 0;
    z-index: 1;
    height: .16rem;
    width: .16rem;
}

.recommend-list .select-recommend-icon{
    position: absolute;
    right: .02rem;
    top: 0;
    z-index: 1;
    height: .17rem;
    width: .17rem;
    display: none;
}
.recommend-list .data-box.active .select-recommend-icon{
    display: block;
}

.recommend-list .name{
    font-size: .125rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: .079rem;
}

.add-label-btn .change-icon{
    width: .159rem;
    height: .159rem;
}

.add-label-btn .update-data {
    font-size: .159rem;
    margin-bottom: .27rem;
    line-height: .16rem;
}

.add-label-btn .update-data .block{
    width: .738rem;
    margin: 0 auto;
}