<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta name="360-site-verification" content="604a14b53c6b871206001285921e81d8">
    <meta name="format-detection" content="email=no"/>
    <meta name="keywords" content="验证码登录">
    <meta name="description" content="验证码登录">
    <title>验证码登录</title>
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="assets/bootstrap.min/bootstrap.min.js"></script>
    <script src="assets/js/vue.min.js"></script>
    <script src="assets/js/common.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap.min/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main-style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/index.css">
</head>
<body class="bg-white">
<div class="login-title-box">
    <div class="title">登陆</div>
    <div class="introduce">登录XX精彩即刻呈现</div>
    <i class="icon index-close-icon" onclick="window.close();"></i>
</div>
<div class="container bg-white" id="login">
    <div>
        <div class="pw-input-box bg-gray">
            <i class="icon phone-icon"></i>
            <div class="pw-input" style="margin-right: 0"><input class="input phone bg-gray" id="phone" type="number" v-model="phoneNumber"  maxlength="11" value=""  onkeyup="value=value.replace(/[^\d]/g,'');"  placeholder="手机号码"></div>
            <i class="icon clear-icon"  v-bind:class="{ active: clearPhone }" v-on:click="clear('phone')"></i>
        </div>
        <div class="pw-tip text-red-b">{{phoneCheckTip}}</div>
    </div>

    <div>
        <div class="pw-input-box bg-gray">
            <i class="icon yzm-icon"></i>
            <div class="pw-input" style="margin-right: .8rem"><input class="input bg-gray" id="yzm" type="text" v-model="code" maxlength="4" value=""  onkeyup="value=value.replace(/[^\d]/g,'');"  placeholder="输入验证码"></div>
            <a class="get-code pull-right" v-on:click="intval">获取验证码</a>
        </div>
        <div class="pw-tip text-red-b">{{codeCheckTip}}</div>
    </div>

    <div class="login-btn">
        <button class="login-submit" v-on:click="submitData">登录</button>
    </div>
    <div class="login-other">
        <a class="block pull-left type">忘记密码</a>
        <a class="block pull-right type" href="login_pw.html">密码登录</a>
    </div>

    <div class="tip-box">{{tip}}</div>
</div>
<div class="toRegister"><a class="hrefRegister" href="register.html">注册 > </a></div>

<script>
    var login = new Vue({
        el: '#login',
        data: {
            phoneNumber: "",
            code:"",
            phoneCheckTip:"",
            codeCheckTip:"",
            tip:"",
            clearPhone:false,
            time:60,
            interval:function () {},
            data:{
                phone:this.phoneNumber,
                code:this.code
            }
        },
        watch:{
            phoneNumber:function (val) {
                if(val==""){
                    this.clearPhone = false;
                }else {
                    this.phoneCheckTip = "";
                    this.clearPhone = true;
                }
            }
        },
        methods: {
            submitData:function () {
                var tel = this.phoneNumber;
                var code = this.code;
                var checkPhone = checkMobile(tel);
                if(checkPhone!=1){
                    this.phoneNumber="";
                    this.phoneCheckTip = "手机号格式错误！";
                    return;
                }
                if(code.length!=4){
                    this.codeCheckTip = "验证码错误！";
                    return;
                }
                if(checkPhone == 1 && code.length == 4){
                    this.tip = "yes!";
                    $(".tip-box").fadeIn();
                    setTimeout(function () {
                        $(".tip-box").fadeOut();
                        this.tip = "";
                    },1000)
                    // ajaxPost(this.data,"url",function (data) {
                    //
                    // });
                }
            },
            clear:function (type) {
                if(type == "phone"){
                    this.phoneNumber= "";
                }
            },
            intval:function () {
                this.getTime();
                this.interval = setInterval(this.getTime,1000);
            },
            getTime:function () {
                if(this.time==60){
                    $(".get-code").unbind("click");
                }
                this.time--;
                $(".get-code").addClass("text-gray").html(this.time+"S后重发");
                if(this.time==0){
                    clearInterval(interval);
                    $(".get-code").removeClass("text-gray").html("获取验证码").bind("click",this.intval);
                    this.time=60;
                }
            }
        }
    })
</script>
</body>
</html>