<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta name="360-site-verification" content="604a14b53c6b871206001285921e81d8">
    <meta name="format-detection" content="email=no"/>
    <meta name="keywords" content="密码登录">
    <meta name="description" content="密码登录">
    <title>密码登录</title>
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="assets/bootstrap.min/bootstrap.min.js"></script>
    <script src="assets/js/vue.min.js"></script>
    <script src="assets/js/common.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap.min/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main-style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/index.css">
</head>
<body class="bg-white">
<div class="login-title-box">
    <div class="title">登陆</div>
    <div class="introduce">登录XX精彩即刻呈现</div>
    <i class="icon index-close-icon" onclick="window.close();"></i>
</div>
<div class="container bg-white" id="login">
    <div class="pw-input-box bg-gray">
        <i class="icon phone-icon"></i>
        <div class="pw-input" style="margin-right: 0"><input class="input phone bg-gray" id="phone" style="width: 100%" type="number" maxlength="11" v-model="phoneNumber"  onkeyup="value=value.replace(/[^\d]/g,'');"  placeholder="手机号码"></div>
        <i class="icon clear-icon"  v-bind:class="{ active: clearPhone }" v-on:click="clear('phone')"></i>
    </div>
    <div>
        <div class="pw-input-box bg-gray">
            <i class="icon pw-icon"></i>
            <div class="pw-input" style="margin-right: 0"><input id="newPw" class="input phone bg-gray" type="password" minlength="6" maxlength="16" v-model="password"  placeholder="请输入密码"></div>
            <i class="icon clear-icon" v-bind:class="{ active: clearPw }" v-on:click="clear('password')"></i>
        </div>
    </div>
    <div class="login-btn">
        <button class="login-submit" v-on:click="submitData">登录</button>
    </div>
    <div class="login-other">
        <a class="block pull-left type">忘记密码</a>
        <a class="block pull-right type" href="login_code.html">验证码登录</a>
    </div>
</div>

<div class="toRegister"><a class="hrefRegister" href="register.html">注册 > </a></div>

<script>
    var login = new Vue({
        el: '#login',
        data: {
            phoneNumber: "",
            password:"",
            clearPhone:false,
            clearPw:false,
            // time:60,
            // interval:function () {},
            data:{
                phone:this.phoneNumber,
                password:this.password
            }
        },
        watch:{
            phoneNumber:function (val) {
                if(val==""){
                    this.clearPhone = false;
                }else {
                    this.clearPhone = true;
                }
            },
            password:function (val) {
                if(val==""){
                    this.clearPw = false;
                }else {
                    this.clearPw = true;
                }
            }
        },
        methods: {
            submitData:function () {
                var tel = this.phoneNumber;
                var pw = this.password;
                var checkPhone = checkMobile(tel);
                var checkPw = passwordID(pw);
                if(checkPhone!=1){
                    this.phoneNumber="";
                    alert("手机号格式错误！")
                }
                if(checkPw!=1){
                    this.password="";
                    alert("密码格式错误！")
                }
                if(checkPhone == 1&&checkPw == 1){
                    alert("yes!");
                    // ajaxPost(this.data,"url",function (data) {
                    //
                    // });
                }
            },
            clear:function (type) {
                if(type == "phone"){
                    this.phoneNumber= "";
                }
                if(type == "password"){
                    this.password = "";
                }
            }
        }
    })
</script>
</body>
</html>