<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta name="360-site-verification" content="604a14b53c6b871206001285921e81d8">
    <meta name="format-detection" content="email=no"/>
    <meta name="keywords" content="我的红包">
    <meta name="description" content="我的红包">
    <title>我的红包</title>
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="assets/bootstrap.min/bootstrap.min.js"></script>
    <script src="assets/js/vue.min.js"></script>
    <script src="assets/js/common.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap.min/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main-style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/index.css">
</head>
<body>
<div id="myHB">
    <div class="nav-pl-top update-data" style="border-bottom: none">
        <div class="hb_tab">
            <a class="tab" @click="addActive('post')" v-bind:class="{active : isDA}">发出的红包<i class="tab-bottom-icon"></i></a>
            <a class="tab" @click="addActive('receive)" v-bind:class="{active : !isDA}">收到的的红包<i class="tab-bottom-icon"></i></a>
        </div>
        <a class="return" href="javascript:;" onclick="history.back(-1);"><i class="icon return-black-icon"></i></a>
    </div>
    <div style="height: .5rem"></div>
    <div class="container" style="border-bottom: 0">
        <div id="post">
            <div v-if="isDS" class="hb-list">
                <div v-for="(list,index) in lists" class="data post-data">
                    <div class="hb-pic"></div>
                    <div class="msg-detail">
                        <div class="detail">{{list.title}}</div>
                        <div class="msg">{{list.addtime}} &nbsp; 来源:{{list.type}} &nbsp; 金额:{{list.money}}</div>
                    </div>
                    <div class="jd">
                        <div class="jdt" v-bind:style="{ width: list.precent + '%' }"></div>
                    </div>
                    <a><i class="icon top-right-icon pull-left"></i></a>
                </div>
            </div>
            <div v-else class="myself-pl-list">
                <div v-for="(list,index) in lists" class="data">
                    <div class="head-pic">
                        <a :href="list.url">
                            <img class="pic" :src="list.upic">
                            <i class="icon sex-icon" v-bind:class="[list.sex == 1 ? 'man':'',list.sex == 2 ? 'woman':'',list.sex == 2 ? 'display-none':'']"></i>
                        </a>
                    </div>
                    <div class="msg-detail">
                        <div class="name">收到<a class="text-blue" :href="list.url">{{list.nichen}}</a>红包<label class="text-red-b">{{list.money}}</label></div>
                        <div class="time">{{list.addtime}} &nbsp; 来源：{{list.type}}</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="update-box bg-gray">
        <div class="content">
            <i class="icon jiazai-icon pull-left"></i>
            <label class="pull-left">正在刷新...</label>
        </div>
    </div>
</div>
<script>
    var vm = new Vue({

        el: "#myDS",
        data:{
            lists:[],
            url:CN_API['gift_hb_put'],
            postData:{p:1},
            isDS:true,
            page:1,
            flag:0
        },
        mounted(){
            window.addEventListener('scroll', this.handleScroll);
            var _this = this;
            ajaxPost(this.url,this.postData,function(data){
                if(data.code == 0){
                    _this.lists = data.msg;
                }
            });
        },
        methods:{
            addActive(type){
                if (type == "post") {
                    this.url = CN_API['gift_hb_put'];
                    this.postData = {p:1};
                    this.isDS = true;
                }else{
                    this.url = CN_API['gift_hb_get'];
                    this.postData = {p:1};
                    this.isDS = false;
                }
                var _this = this;
                ajaxPost(this.url,this.postData,function(data){
                    if(data.code == 0){
                        _this.lists = data.msg;
                    }
                });
            },
            handleScroll:function () {
                //上拉加载
                this.bodyHeight = $(document).height();
                if( ($(window).scrollTop()+$(window).height()) > this.bodyHeight-20 && this.flag == 0){
                    this.flag = 1;
                    var _this = this;
                    this.page ++;
                    this.dataJson.p = this.page;
                    ajaxPost(this.url,this.postData,function(data){
                        if(data.code==0){
                            var dataJ = data.msg;
                            _this.flag = 0;
                            var length = dataJ.length;
                            for(var i=0;i<length;i++){
                                _this.lists.push(dataJ[i]);
                            }


                        }
                    })
                }
            }
        }


    })
</script>
</body>
</html>