<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta name="360-site-verification" content="604a14b53c6b871206001285921e81d8">
    <meta name="format-detection" content="email=no"/>
    <meta name="keywords" content="修改密码">
    <meta name="description" content="修改密码">
    <title>修改密码</title>
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="assets/bootstrap.min/bootstrap.min.js"></script>
    <script src="assets/js/vue.min.js"></script>
    <script src="assets/js/common.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap.min/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main-style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/index.css">
</head>
<body class="bg-gray">
<div id="updatePw">
    <div class="nav-pl-top update-data" style="border-bottom: none">
        修改密码
        <a class="return" href="javascript:;" onclick="history.back(-1);"><i class="icon return-black-icon"></i></a>
        <a class="over" v-on:click="submitData">完成</a>
    </div>
    <div style="height: .5rem"></div>
    <div class="container bg-gray">
        <div>
            <div class="pw-input-box bg-white">
                <i class="icon pw-icon"></i>
                <div class="pw-input"><input v-model="oldPassword" class="input phone"  type="password" minlength="6" maxlength="16" placeholder="请输入6-16位密码"></div>
                <i class="icon clear-icon" v-bind:class="{ active: clearOldPw }" v-on:click="clear('oldPw')"></i>
            </div>
            <div class="pw-tip">密码以字母开头，只包含字符、数字和下划线</div>
        </div>
        <div>
            <div class="pw-input-box bg-white">
                <i class="icon pw-icon"></i>
                <div class="pw-input"><input  v-model="newPassword" class="input phone" type="password" minlength="6" maxlength="16"  placeholder="请输入新密码"></div>
                <i class="icon clear-icon" v-bind:class="{ active: clearNewPw }" v-on:click="clear('newPw')"></i>
            </div>
        </div>
        <div>
            <div class="pw-input-box bg-white">
                <i class="icon pw-icon"></i>
                <div class="pw-input"><input  v-model="passwordCheck" class="input phone" type="password" minlength="6" maxlength="16"  placeholder="请确认新密码"></div>
                <i class="icon clear-icon" v-bind:class="{ active: clearCheckPw }" v-on:click="clear('checkPw')"></i>
            </div>
            <div class="pw-tip text-red-b">{{pwCheckTip}}</div>
        </div>

    </div>
</div>
<script>
    var updatePw = new Vue({
        el: '#updatePw',
        data: {
            oldPassword: "",
            newPassword: "",
            passwordCheck:"",
            pwTip:"",
            pwCheckTip:"",
            clearOldPw:false,
            clearNewPw:false,
            clearCheckPw:false,
            data:{
                oldPassword:this.oldPassword,
                newPassword:this.newPassword
            }
        },
        watch:{
            oldPassword:function (val) {
                if(val==""){
                    this.clearOldPw = false;
                }else {
                    this.clearOldPw = true;
                }
            },
            newPassword:function (val) {
                if(val==""){
                    this.clearNewPw = false;
                }else {
                    this.clearNewPw = true;
                }

            },
            passwordCheck:function (val) {
                this.pwCheckTip="";
                if(val==""){
                    this.clearCheckPw = false;
                }else {
                    this.clearCheckPw = true;
                }
            }
        },
        methods: {
            submitData:function () {
                var oldPw = this.oldPassword;
                var newPw = this.newPassword;
                var checkPw = this.passwordCheck;
                var oldCheck = passwordID(oldPw);
                var newCheck = passwordID(newPw);
                if(oldCheck != 1){
                    this.oldPassword="";
                    alert("旧密码格式错误！");
                    return;
                }
                if(newCheck != 1){
                    this.newPassword="";
                    this.passwordCheck="";
                    alert("新密码格式错误！");
                    return;
                }
                if(newPw != checkPw){
                    this.pwCheckTip="两次密码输入不一致";
                    return;
                }
                if(oldCheck == 1 && newCheck == 1 && newPw == checkPw){
                    alert("yes!");
                    // ajaxPost(this.data,"url",function (data) {
                    //
                    // });
                }
            },
            clear:function (type) {
                if(type == "oldPw"){
                    this.oldPassword= "";
                }
                if(type == "newPw"){
                    this.newPassword = "";
                }
                if(type == "checkPw"){
                    this.passwordCheck = "";
                }
            }
        }
    })
</script>
</body>
</html>