<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta name="360-site-verification" content="604a14b53c6b871206001285921e81d8">
    <meta name="format-detection" content="email=no"/>
    <meta name="keywords" content="视频">
    <meta name="description" content="视频">
    <title>视频</title>
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="assets/bootstrap.min/bootstrap.min.js"></script>
    <script src="assets/js/vue.min.js"></script>
    <script src="assets/js/common.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap.min/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main-style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/index.css">
</head>
<body>
<div id="index">
    <div class="header">
        <div class="update-box bg-gray up-box" style="display: none">
            <div class="content">
                <i class="icon jiazai-icon pull-left"></i>
                <label class="pull-left">松开刷新...</label>
            </div>
        </div>
        <div class="nav row">
            <div class="nav-logo col-xs-2 col-md-2 ">
                <div class="logo"></div>
            </div>
            <div class="search-input col-xs-10 col-md-10">
                <div class="row">
                    <div class="search col-xs-11 col-md-11">
                        <i class="icon search-icon"></i>
                        <input id="nav-search"  v-model.lazy="inputKeywords" type="text" class="nav-search">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tj-tab">
        <div class="video-tab-box">
            <div class="video-tab" id="itemsBox">
                <div  class="control-tab v-tab pull-left"  v-on:click="getSearchID(item.id)" v-bind:class="[(clickKeywords == item.id) ? activeClass:'']" v-for="(item,index) in items" :data-id="item.id"><a class="block">{{item.name}}</a></div>
            </div>
        </div>
        <div class="white-shadow"></div>
    </div>
    <script src="assets/js/fixed_top.js"></script>
    <div class="container">
        <div class="index-container">
            <!--列表-->
            <div class="index-data">
                <div class="data-list" v-for="(list,index) in lists" :data-id="list.id">
                    <div class="title">
                        <div class="pic pull-left">
                            <a :href="list.home_url"><img class="head-img" :src="list.logo"></a>
                        </div>
                        <div class="poster pull-left">
                            <p class="poster-name"><a :href="list.home_url">{{list.nichen}}</a></p>
                            <p class="posting-time">{{list.addtime}}</p>
                        </div>
                        <div class="right-btn pull-right">
                            <button class="index-gz-btn" :data-userid="list.uid" @click="guanzhu(list,list.uid)" v-bind:class="{active : list.utype}">关注</button>
                        </div>
                    </div>
                    <!--视频一-->
                    <div v-if="list.id%2=='0'" class="content row">
                        <div class="words"><a :href="list.url">{{list.name}}</a></div>
                        <div class="video-box big-video">
                            <div class="num"><i class="icon point-left-icon pull-left"></i><span class="pull-left">{{list.hits}}</span><span class="pull-right">{{list.sc}}</span></div>
                            <div class="pop"></div>
                        </div>
                        <div class="bottom-icon-group">
                            <div class="group-li pull-left"><i class="icon dz-icon" v-bind:class="{active:list.dztype}" @click="dianzan(list,list.uid)"></i>{{list.dhits}}</div>
                            <div class="group-li pull-left"><i class="icon ds-icon to-ds"></i>{{list.shang_cion}}</div>
                            <div class="group-li pull-left"><i class="icon hb-icon"></i>{{list.hb}}</div>
                            <div class="group-li last pull-right"><i :data-id="list.id" @click="clear(list)" class="icon index-close-icon pull-left"></i></div>
                        </div>
                    </div>
                    <!--视频二-->
                    <div v-if="list.id%2 =='1'" class="content row">
                        <div class="left-content pull-left col-xs-8 col-md-8">
                            <div class="words"><a :href="list.url">{{list.name}}</a></div>
                            <div class="bottom-icon-group">
                                <div class="group-li pull-left"><i class="icon dz-icon" v-bind:class="{active:list.dztype}" @click="dianzan(list,list.uid)"></i>{{list.dhits}}</div>
                                <div class="group-li pull-left"><i class="icon ds-icon to-ds"></i>{{list.shang_cion}}</div>
                                <div class="group-li pull-left"><i class="icon hb-icon"></i>{{list.hb}}</div>
                                <div class="group-li last pull-right"><i :data-id="list.id" @click="clear(list)" class="icon index-close-icon pull-left"></i></div>
                            </div>
                        </div>
                        <div class="video-box pull-right col-xs-4 col-md-4 small-video">
                            <div class="num"><span class="pull-left">{{list.hits}}</span><span class="pull-right">{{list.sc}}</span></div>
                            <div class="pop"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="update-box bg-gray">
            <div class="content">
                <i class="icon jiazai-icon pull-left"></i>
                <label class="pull-left">正在刷新...</label>
            </div>
        </div>
    </div>
    <div class="bottom-wrapper">
        <div class="bottom row">
            <div class="tab col-xs-3 col-md-3">
                <a class="block" href="index.html">
                    <i class="block-icon tj-icon"></i>
                    <p>推荐</p>
                </a>
            </div>
            <div class="tab col-xs-3 col-md-3  active">
                <a class="block" href="video-list.html">
                    <i class="block-icon sp-icon active"></i>
                    <p>视频</p>
                </a>
            </div>
            <div class="tab col-xs-3 col-md-3 ">
                <a class="block" href="article_list.html">
                    <i class="block-icon wz-icon"></i>
                    <p>文章</p>
                </a>
            </div>
            <div class="tab col-xs-3 col-md-3 ">
                <a class="block" href="me.html">
                    <i class="block-icon wd-icon"></i>
                    <p>我的</p>
                </a>
            </div>
        </div>
    </div>

    <!--遮罩层-->
    <div class="mask show-num"></div>
</div>

<script type="text/javascript">
    var index = new Vue({

        el: "#index",
        data:{
            bodyHeight:0,
            inputKeywords:"",
            clickKeywords:"",
            searchType:2,
            lists:[],//视频列表
            items:[],//分类列表
            // url:CN_API['index_tj'],
            url:"",
            dataJson :{p:1},
            flag:0
        },
        watch:{
            inputKeywords:function () {
                this.getSearchID(2);
            },
        },
        mounted:function(){

            window.addEventListener('scroll', this.handleScroll);
            var _self = this;

            var dataJ = [
                {
                    id:1,
                    uid:"1",
                    utype:true,
                    nichen:"离离原上草",
                    home_url:"my_page.html",
                    logo:"https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=212297457,1410173076&fm=200&gp=0.jpg",
                    name:"欧洲是沉睡的美人。",
                    url:"https://www.baidu.com",
                    addtime:"2018-03-01 10:11:10",
                    dhits:"128",
                    shang_cion:"123",
                    hb:"123",
                    hits:"123万",
                    pic:"https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=212297457,1410173076&fm=200&gp=0.jpg",
                    sc:"23:24",
                    dztype:false
                },
                {
                    id:2,
                    uid:"1",
                    utype:false,
                    nichen:"离离原上草",
                    home_url:"my_page.html",
                    logo:"https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=212297457,1410173076&fm=200&gp=0.jpg",
                    name:"欧洲是沉睡的美人。",
                    url:"www.baidu.com",
                    addtime:"2018-03-01 10:11:10",
                    dhits:"128",
                    shang_cion:"123",
                    hb:"123",
                    hits:"123万",
                    pic:"https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=212297457,1410173076&fm=200&gp=0.jpg",
                    sc:"23:24",
                    dztype:false
                },
                {
                    id:1,
                    uid:"1",
                    utype:true,
                    nichen:"离离原上草",
                    home_url:"my_page.html",
                    logo:"https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=212297457,1410173076&fm=200&gp=0.jpg",
                    name:"欧洲是沉睡的美人。",
                    url:"https://www.baidu.com",
                    addtime:"2018-03-01 10:11:10",
                    dhits:"128",
                    shang_cion:"123",
                    hb:"123",
                    hits:"123万",
                    pic:"https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=212297457,1410173076&fm=200&gp=0.jpg",
                    sc:"23:24",
                    dztype:false
                },
                {
                    id:2,
                    uid:"1",
                    utype:false,
                    nichen:"离离原上草",
                    home_url:"my_page.html",
                    logo:"https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=212297457,1410173076&fm=200&gp=0.jpg",
                    name:"欧洲是沉睡的美人。",
                    url:"www.baidu.com",
                    addtime:"2018-03-01 10:11:10",
                    dhits:"128",
                    shang_cion:"123",
                    hb:"123",
                    hits:"123万",
                    pic:"https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=212297457,1410173076&fm=200&gp=0.jpg",
                    sc:"23:24",
                    dztype:false
                },
            ];
            var length = dataJ.length;
            for(var i=0;i<length;i++){
                _self.lists.push(dataJ[i]);
            }

            this.getSearchID(2);
        },
        methods:{
            getSearchID:function(type){
                if(type==1){
                    // 搜索
                    // this.url = CN_API['index_search'];
                    this.searchType = 1;
                    this.dataJson = {p:this.inputKeywords}
                }
                if(type==2){
                    // 推荐
                    this.searchType = 2;
                    // this.url = CN_API['index_tj'];
                    this.dataJson = {p:1}
                }
                if(type==3){
                    // 视频
                    this.searchType = 3;
                    // this.url = CN_API['index_vod'];
                    this.dataJson = {p:1};
                }
                if(type==4){
                    // 文章
                    this.searchType = 4;
                    // this.url = CN_API['index_news'];
                    this.dataJson = {p:1};
                }
                if(type==5){
                    // 关注
                    this.searchType = 5;
                    // this.url = CN_API['index_fans'];
                    this.dataJson = {p:1};
                }
                // ajaxPost(this.url,dataJson,function(data){
                //     if(data.code==0){
                //         this.lists = data.msg;
                //     }
                // })

            },
            dianzan:function (list,idVal) {
                list.dztype = !list.dztype;
            },
            guanzhu:function (list,userid) {
                list.utype = !list.utype;
            },
            clear:function (index) {
                var list = this.lists;
                list.splice(jQuery.inArray(index,list),1);
            },
            handleScroll:function () {
                this.bodyHeight = $(document).height();
                if( ($(window).scrollTop()+$(window).height()) > this.bodyHeight-20 && this.flag == 0){
                    this.flag = 1;
                    console.log("上拉加载");
                    // ajaxPost(this.url,this.dataJson,function(data){
                    //     if(data.code==0){
                    //         var dataJ = data.msg;
                    //         this.flag = 0;
                    //         var length = dataJ.length;
                    //         for(var i=0;i<length;i++){
                    //             this.lists.push(dataJ[i]);
                    //         }
                    //     }
                    // })
                }
            }
        }

    })
</script>
</body>
</html>