.main-btn{
    display: none;
}

i.point_icon{
    display: inline-block;
    background: url("../../assets/img/icon/down.png") no-repeat center;
}
i.point_icon.active{
    background: url("../../assets/img/icon/up.png") no-repeat center;
}
.btn-3 {
    border: 1px solid;
    overflow: hidden;
    position: relative;
}
.btn-3 span {
    z-index: 20;
}
.btn-3:after {
    background: #2a6d63;
    content: "";
    opacity: .2;
    position: absolute;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    z-index: -10;
    height: 1.1rem;
    left: -0.6rem;
    top: -0.4rem;
    width: 0.4rem;
}

.btn-3:hover:after {
    left: 120%;
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}


.title-btn{
    display: block;
    width: 1.2rem;
    height: 0.3rem;
    font-size: 0.1rem;
    line-height: 0.3rem;
    text-align: center;
    border: 1px solid #ffffff;
    color: #ffffff;
    margin-top: 0.08rem;
    border-radius: 0.3rem;
    cursor: pointer!important;
}
@media (min-width:768px){
    .main-btn {
        color: #2a6d63;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-weight: 400;
        line-height: 45px;
        margin: 0 auto 28px;
        margin-right: 14px;
        margin-top: 30px;
        max-width: 140px;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        vertical-align: middle;
        width: 100%;
        box-shadow:0 0 9px 0 #2a6d63 ;
        border-radius: 24px;
    }
    .main-btn:hover {
        text-decoration: none;
    }

    .btn-4 {
        border: 1px solid;
        overflow: hidden;
        position: relative;
    }
    .btn-4 span {
        z-index: 20;
    }
    .btn-4:after {
        background: #2a6d63;
        content: "";
        opacity: .2;
        position: absolute;
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
        -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        z-index: -10;
        height: 155px;
        left: -75px;
        top: -50px;
        width: 50px;
    }

    .btn-4:hover:after {
        left: 120%;
        -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }

}
